Package: sharemybox
Version: 1.0
Description: ShareMyBox Client for Enigma2
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Daniel Espendiller <admin@sharemybox.net>
Homepage: http://sharemybox.net
Source: http://github.com/Haehnchen/sharemybox.net-enigma2-client
